<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixiaoyu.xiangyueproject.mapper.ReportMapper">

    <select id="farmCnt" resultType="java.lang.Integer">
        SELECT COUNT(id) FROM farm_user
    </select>

    <select id="countNewVillage" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM village_base
        WHERE create_time &gt;= #{date}
    </select>

    <select id="countNewScenic" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM village_scenic
        WHERE create_time &gt;= #{date}
    </select>

</mapper>
