<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shixiaoyu.xiangyueproject.mapper.ScenicMapper">
    <select id="selectLikes" resultType="java.util.Map">
        select vb.id,ifnull(sum(vs.likes),0) total_likes
        from village_base vb left join village_scenic vs
        on vb.id = vs.village_id
        group by vb.id
        order by total_likes desc
    </select>

    <select id="selectCollections" resultType="java.util.Map">
        select vb.id,ifnull(sum(vs.collections),0) total_collections
        from village_base vb left join village_scenic vs
        on vb.id=vs.village_id
        group by vb.id
        order by total_collections desc
    </select>
</mapper>